<Alloy>
	<Tab id="tab_settings">
  <Window id="settings_window" backgroundColor="white" title="Settings">
 	  <TableView id="settings_table" backgroundColor="transparent" separatorStyle="Ti.UI.iPhone.TableViewSeparatorStyle.NONE">
 	  	<TableViewSection headerTitle="Debug">
		 <TableViewRow id="row_mindebug" Title="Min Debug">
			 <Label id="label_mindebug" color="#333" top="5" left="20" text="Minimum Debug">OFFLINE MODE</Label>
			 <Label id="label_mindebug1" color="gray" top="30" left="20" text="FG LOC">Turn on/off offline mode</Label>
		     <Switch id="switch_mindebug" right="20" titleOff="OFF" titleOn="ON" value=false/>
		 </TableViewRow>
		 <TableViewRow id="row_maxdebug" Title="max Debug">
			 <Label id="label_maxdebug" color="#333" top="5" left="20" text="maximum Debug">Turn ON Maximum Debug</Label>
			 <Label id="label_maxdebug1" color="gray" top="30" left="20" text="FG LOC">Maximum debug</Label>
		     <Switch id="switch_maxdebug" right="20" titleOff="OFF" titleOn="ON" value=false/>
		 </TableViewRow>
		 <TableViewRow id="row_emailsupport">
			 <Button id="button_emailsupport" top="5" systemButton="Ti.UI.iPhone.SystemButton.PLAIN" left="20" title="Submit Log to Support" onClick="sendSupportEmail" />
			 <Label id="label_sub1" left="20" color="gray" top="35" text="Please turn on Maximum Debug First"></Label>
		 </TableViewRow>
		 </TableViewSection>
		 <TableViewSection headerTitle="Profiles">
		 <TableViewRow height="40">
		 		<Label id="currency_label" left="20" text="Currency:"></Label>
 	  			<TextField id="currency_tf" width="200" left="100" hintText="USD" value="" onBlur="currencyAction"/>
 	  		</TableViewRow>
		 <TableViewRow id="row_empselect" Title="employee seletion">
			 <Button id="button_empselect" systemButton="Ti.UI.iPhone.SystemButton.PLAIN" left="20" title="Select Employee >"/>
		 </TableViewRow>
		 </TableViewSection>
		 	  	<TableViewSection headerTitle="Please enter if not present"/>
 	  	<TableViewSection headerTitle="Company Name">
	  		<TableViewRow height="40">
 	  			<TextField id="companygmail_tf"  width="320" left="20" hintText="" keyboardType="Titanium.UI.KEYBOARD_EMAIL" onReturn="coGmail"/>
 	  		</TableViewRow>
 	  		<TableViewRow height="40">
 	  			<TextField id="companyname_tf" width="320" left="20" onBlur="coName" />
 	  		</TableViewRow>
 	  	</TableViewSection>
 	  	<TableViewSection headerTitle="Company Address">
 	  		<TableViewRow height="40">
 	  			<TextField id="streetaddress_tf" width="320" left="20" hintText="Address: 2855 W Bluemound Dr" value="" onBlur="coStreetAddress"/>
 	  		</TableViewRow>
 	  		<TableViewRow height="40">
 	  			<TextField id="city_tf" left="20" width="160" value="" onBlur="coCity" />
 	  			<TextField id="state_tf" left="200"  width="70" value="" onBlur="coState" />
 	  			<TextField id="zipcode_tf" left="280"  width="90" value="" onBlur="coZip" keyboardType="Ti.UI.KEYBOARD_DECIMAL_PAD" >
        		<KeyboardToolbar id="ktb_textarea">
	    			<Toolbar>
	    				<Items>
	    					<Button id="donebutton" title="DONE" onClick="zipBlur" />
	    				</Items>
	    			</Toolbar>
        		</KeyboardToolbar>	
 	  		</TextField>
 	  		</TableViewRow>
  		</TableViewSection>
  		<TableViewSection headerTitle="Company Contact">
	  		<TableViewRow height="40">
 	  			<TextField id="companyphone_tf" width="300" left="20" value="" keyboardType="Titanium.UI.KEYBOARD_PHONE_PAD" onBlur="coPhone">
 	  				<KeyboardToolbar id="ktb_textarea">
	    			<Toolbar>
	    				<Items>
	    					<Button id="phonedonebutton" title="DONE" onClick="phoneBlur"/>
	    				</Items>
	    			</Toolbar>
        		</KeyboardToolbar>
 	  			</TextField>
 	  		</TableViewRow>
 	  		</TableViewSection>
 	  	<TableViewSection headerTitle="Logo">
 	  		<TableViewRow id="logo_row" height="Ti.UI.Size">
 	  		</TableViewRow>
  		</TableViewSection>
	  	<TableViewSection headerTitle="Beta Feature">
		 <TableViewRow id="row_futuremenu" Title="Future Features">
			 <Label id="label_futuremenu" color="#333" top="5" left="20" text="Future Features">Turn ON Future Features</Label>
			 <Label id="label_futuremenu1" color="gray" top="30" left="20" text="FG LOC">Future Feature</Label>
		     <Switch id="switch_futuremenu" right="20" titleOff="OFF" titleOn="ON" value=false />
		 </TableViewRow>
		  <TableViewRow/>
  		</TableViewSection>
	  </TableView>
		<Toolbar id="jobdetailtoolbar" platform="ios" bottom="0" borderTop="true" borderBottom="false">
			<Items id="itemjobdetail">
				<FlexSpace/>
				<Label text="Add Logo" color="orange"/>
				<Button systemButton="ACTION" onClick="uploadFile"/>
				<Button systemButton="CAMERA" onClick="takePic"/>
			 	<FlexSpace/> 
			 	<FlexSpace/>
			 	<Button systemButton="DISCLOSURE"/>          	
			</Items>
		</Toolbar>   
  </Window>
  </Tab>
</Alloy>